<h1>Tech or Unit Description</h1>
<p><%= units.name %><p>

<ul>
  <li>Description<p><%= units.description %></p></li>
  <li>Age<p><%= units.age %></p></li>
  <li>Cost<p><%= units.cost %></p></li>
  <li>Build Time<p><%= units.build_time %></p></li>
  <li>Hit Points<p><%= units.hit_points %></p></li>
  <li>Range<p><%= units.range %></p></li>
  <li>Attack<p><%= units.attack %></p></li>
  <li>Armor<p><%= units.armor %></p></li>
  <li>Accuracy<p><%= units.accuracy %></p></li>
</ul>

